body {
    background-color: rgb(247, 247, 247);
}

#mainTitle {
    text-align: center;
    font-size: 3rem;
    margin-top: 40px;
    font-weight: 800;
}

.desc {
    text-align: center;
    margin-top: 5px;
    font-size: 1.3rem;
    margin-bottom: 30px;
}